@mixin nav-drop{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.2)
}

@mixin card-shadow{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.2)
}
@mixin card-shadow-1{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.13)
}

@mixin card-shadow-2{
    box-shadow: 1.5rem 1.5rem 2rem 0 rgba($color-black, 0.06)
}
@mixin card-shadow-3{
    box-shadow: 0 1.75rem 3.125rem rgba($color-black, 0.08)
}
@mixin transition{
    transition: all 0.2s ease;
}
@mixin center-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

