$color-primary: #AA0F1E;
$color-green: #59C1AD;
$color-orange: #F2AD79;

$color-gray-light-1:#CCCCCC ;
$color-gray-light-2:#E2E2E2;
$color-gray-dark:#a7a7a7;

$color-black: #000;
$color-white: #fff;

$color-black-hover: rgb(34, 34, 34)